{% extends 'base.html' %}

{% block body %}

		<script>
		   function toggle_visibility(id) {
			   var e = document.getElementById(id);
			   if(e.style.display == 'block')
				  e.style.display = 'none';
			   else
				  e.style.display = 'block';
		   }
		</script>

		<!-- Testimonials -->
		<div class="reviews" id="reviews">
			<div class="container">
                <div class="reviews__item">
                    <div class="reviews__photo">
                        <img class="reviews__img" src="static/img/reviews/review-1.jpg" alt="">
                    </div>
                    <div class="reviews__content">
                        <div class="reviews__text">{{ user['first_name'] }} {{ user['last_name'] }}</div>

						<div class="reviews__author">{{ user['state'] }}</div>
						<div class="reviews__author">{{ user['gender'] }}</div>

						<div class="reviews__author">{{ user['email'] }}</div>
						<div class="reviews__author">{{ user['phone'] }}</div>
                    </div>
                </div>
			</div>
		</div>

		<!-- Download -->
		<div class="download" onclick="toggle_visibility('element_toggle');">
			<div class="container">
				<a class="btn btn--hide btn--red">Hide table</a>
			</div>
		</div>

		<!-- Table -->
		<div class="table" id='element_toggle'>
			<div class="container">
				<table class="table_col">
					  <colgroup>
							<col style="background-color: #53354a;">
					  </colgroup>

					  <tr>
						  	<th>First Name</th>
						  	<th>Last Name</th>
							<th>Gender</th>
							<th>Phone</th>
							<th>E-mail</th>
							<th>State</th>
					  </tr>

                    {% for row in rows %}
					  <tr>
                          <td>{{ row['first_name']}}</td>
                          <td>{{ row['last_name']}}</td>
                          <td>{{ row['gender']}}</td>
                          <td>{{ row['phone']}}</td>
                          <td>{{ row['email']}}</td>
                          <td>{{ row['state']}}</td>
					  </tr>
                    {% endfor %}
				</table>
			</div>
		</div>

{% endblock %}
